body{
    background-color: rgb(245, 239, 239);
}

header{
    margin-top: 20px;
}

header img#logo {
    margin: 2px;
    height: 70px;
    float: left;
}

header p:first-of-type {
    font-style:oblique;
    font-size: 0.3in;
    padding-top: 20px;
    margin: 0px;
    line-height: 0%;
}

header p:nth-of-type(2){
    margin: 0;
    display: inline-block;
}


div#first {
    display: inline-block;
    margin: 0%;
    width: 30%;
    margin-left: 200px;
}


nav {
    float: right;
    width: 30%;
}


.list{
    list-style: none;
float: left;
padding-left: 2px;

}

 hr {
     height: 15px;
     width: 85%;
     background-image: url("images/hr-img.png");
     border: cornsilk;
     clear: both;
 }


main h5{
    font-size: .4in;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    padding-left: 190px;
}

#printImg {
    float: right;
    margin-right: 200px;
    display: block;
height: 10px;
}

#chocoimg{
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width:800px;
    padding-top: 30px;
}

p.one {
    font-style: oblique;    
    text-align: left;
    margin-bottom: 0;
    width: 60%;
    font-size: 18px;
    margin-left: 300px;
}

p.two{
    font-style: oblique;
     text-align: left;
    margin-bottom: 0;
    width: 60%;
    font-size: 18px;
    margin-left: 300px;}

p.three {
    font-style: oblique;    margin-bottom: 0;
    width: 60%;
    font-size: 18px;
    margin-left: 300px;
    margin-bottom: 50px;
}

 
#allList {
    background: url("images/list-bg.png") no-repeat;
 width: 100%;
 display: inline-block;
 width: 60%;
 margin-left: 300px;
 margin-bottom: 20px;
}

#firstList {
    width:fit-content;
    float: left;
    padding-left: 150px;
    list-style: none;
    text-align:left; 
    line-height: 30px;
}

#secondList {

    float: right;
    width:fit-content;
    padding-right: 150px;
    list-style: none;
    line-height: 30px;
        text-align: left;
 }


 div.venessa{
    width: 80%;
    margin-top: 20px;
}

    img#vanessa {
        float: left;
        margin: 0;
        padding: 5px;
        height: 90px;
        border-radius: 50%;
        margin-left: 250px;

    }

 
main p.venText{
    font-style: oblique;
font-size: 20px;
    display: inline-block;
    width: 60%;
    margin:0;
}

button {
    float: right;
    padding: 12px;
    background-color: brown;
    color: cornsilk;
}



footer {
    margin-top: 100px;
}
footer img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
footer p {
    padding: 0;
    text-align: center;
    margin: 0%;
    margin-top: 5px;
}

